*
!.gitignore
!AIMA.pro
!CMakeLists.txt
!Maketests

# Only cpp files within src
!src/
src/*
!src/*
src/*/*
!src/*/*.cpp
!src/*/CMakeLists.txt

# Only hpp files within include
!include/
include/*
!include/*.hpp

# Only cpp files within test, prevent binary inclusion
!tests/
tests/*
!tests/*.cpp

# Only cpp files within test, prevent binary inclusion
!gui/
gui/*
!gui/*.cpp

# Datasets
!datasets/
datasets/*
!datasets/*.csv
